<header class="font-sans font-semibold">
  <div class="flex justify-between m-5">
    <img />
    <ul class="flex gap-3">
      @if (sesionPersona$ | async; as sesionPersona) { @if
      (sesionPersona.data?.rol === 'Administrador') {
      <li>
        <a
          class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"
          routerLink="/admin"
          >Panel de administrador</a
        >
      </li>
      <li>
        <a
          class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"
          routerLink="/productos"
          >Tienda</a
        >
      </li>
      <li>
        <a class="hover:bg-sky-200 transition duration-300 rounded-xl p-2">{{
          sesionPersona.data?.nombre
        }}</a>
      </li>
      } @else {
      <li>
        <a
          class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"
          routerLink="/login"
        >
          Iniciar Sesion
        </a>
      </li>
      <li>
        <a
          class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"
          routerLink="register"
        >
          Registrarse
        </a>
      </li>

      <li>
        <a
          class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"
          routerLink="/productos"
          >Tienda</a
        >
      </li>
      } } @else {
      <li>
        <a
          class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"
          routerLink="/login"
        >
          Iniciar Sesion
        </a>
      </li>
      <li>
        <a
          class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"
          routerLink="register"
        >
          Registrarse
        </a>
      </li>

      <li>
        <a
          class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"
          routerLink="/productos"
          >Tienda</a
        >
      </li>
      }
    </ul>
  </div>
  <hr class="colo" />
</header>
