
<div class="max-w-[400px] sm:max-w-[500px] md:max-w-[600px] lg:max-w-[800px] xl:max-w-[1000px] w-full bg-white border border-gray-200 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 hover:scale-[1.02]">
  <a href="#" class="group relative block overflow-hidden">
   

    <!-- Product Image -->
    <img [src]="'http://localhost:3000/uploads/' + producto.photoPath" 
      alt="card-image"
      class="w-[calc(100%-16px)] rounded m-2 h-48 object-cover transition duration-500 group-hover:scale-105 sm:h-72 md:h-80 lg:h-96" />
  </a>

  <div class="p-6">
    <div class="mb-2 flex items-center justify-between">
      <!-- Product Name and Price -->
      <h6 class="font-sans antialiased font-bold text-base md:text-lg lg:text-xl text-gray-800">
        {{ producto.descripcion }}
      </h6>
      <h6 class="font-sans antialiased font-bold text-base md:text-lg lg:text-xl text-gray-800">
        {{ precio | currency : "ARS" : "symbol-narrow" : "1.0-2" : "es-AR" }}
      </h6>
    </div>

    <!-- Stock Available -->
    <p class="text-sm text-gray-500 mb-4">
      {{ producto.stock }} unidades disponibles
    </p>
    <p class="text-sm text-gray-500 mb-4">
      Nombre del vendedor: {{ producto.persona?.nombre }} {{ producto.persona?.apellido }}
    </p>

    <nav class="flex flex-col space-y-2">
      <!-- View More Button -->
      <a class="text-indigo-600 bg-indigo-100 hover:bg-indigo-600 hover:text-white transition duration-300 flex items-center justify-center rounded-lg py-2 px-3 text-sm font-medium" [routerLink]="['/productos', producto.id]">
        Ver más
      </a>

      <!-- Add to Cart Button -->
      <button class="text-green-600 bg-green-100 hover:bg-green-600 hover:text-white transition duration-300 flex items-center justify-center rounded-lg py-2 px-3 text-sm font-medium" (click)="agregarAlCarrito(producto)" [disabled]="producto.stock === 0" [ngClass]="{ 'opacity-50 cursor-not-allowed': producto.stock === 0 }">
        Agregar al carrito
      </button>

      <!-- Buy Now Button -->
      <a class="text-blue-600 bg-blue-100 hover:bg-blue-600 hover:text-white transition duration-300 flex items-center justify-center rounded-lg py-2 px-3 text-sm font-medium" [routerLink]="(producto.stock ?? 0) > 0 ? ['/comprasincart', producto.id] : null" [ngClass]="{ 'opacity-50 pointer-events-none': (producto.stock ?? 0) === 0 }">
        Comprar ahora
      </a>
    </nav>

    <!-- Notification -->
    <div *ngIf="showNotification" class="mt-3 text-center text-sm text-gray-600">
      {{ mensajeNotificacion }}
    </div>
  </div>

  <!-- Stock Message (if necessary) -->
  <div *ngIf="mensajeStock" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded relative mt-2 w-fit">
    <span class="block sm:inline">{{ mensajeStock }}</span>
    <button (click)="mensajeStock = null" class="absolute top-0 right-1 text-red-700 hover:text-red-900">✕</button>
  </div>
</div>
