<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-black-800 dark:border-gray-300">
    <div class="rounded-t-lg h-60 w-full" style="background-color: #3e7a9c;"></div>

    <div class="p-5">
        <a>
            
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3">
            descripcion:{{producto.descripcion}}
        </p>
        <p class="font-semibold text-lg text-gray-800 dark:text-gray-300">
            Precio: {{precio}}
        </p>
        
        <p>Stock: {{producto.stock}}</p>
        <nav>
            <a class="button" [routerLink]="['/productos', producto.id]">Ver más</a> |
          </nav>
         
          
    </div>
</div>
