<div class="max-w-sm w-full bg-white border border-gray-200 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 hover:scale-[1.02]">
  <div class="rounded-t-lg h-48 w-full bg-gradient-to-r from-indigo-500 to-purple-500"></div>

  <div class="p-6">
    <p class="mb-3 text-gray-700 line-clamp-3 text-sm">
      {{ producto.descripcion }}
    </p>
    <p class="font-bold text-xl text-gray-800 mb-2">
      {{ precio | currency : "ARS" : "symbol-narrow" : "1.0-2" : "es-AR" }}
    </p>
    <p class="text-sm text-gray-500 mb-4">
      {{ producto.stock }} unidades disponibles
    </p>
    <p class="text-sm text-gray-500 mb-4">
     Nombre del vendedor: {{ producto.persona?.nombre }} {{producto.persona?.apellido}}
    </p>

    <nav class="flex flex-col space-y-2">
      <!-- Botón Ver Más -->
      <a
        class="text-indigo-600 bg-indigo-100 hover:bg-indigo-600 hover:text-white transition duration-300 flex items-center justify-center rounded-lg py-2 px-3 text-sm font-medium"
        [routerLink]="['/productos', producto.id]"
      >
        Ver más
      </a>

      <!-- Botón Agregar al Carrito -->
      <button
        class="text-green-600 bg-green-100 hover:bg-green-600 hover:text-white transition duration-300 flex items-center justify-center rounded-lg py-2 px-3 text-sm font-medium"
        (click)="agregarAlCarrito(producto.id)"
        [disabled]="producto.stock === 0"
        [ngClass]="{ 'opacity-50 cursor-not-allowed': producto.stock === 0 }">
        Agregar al carrito
      </button>

      <!-- Botón Comprar Ahora -->
      <a
        class="text-blue-600 bg-blue-100 hover:bg-blue-600 hover:text-white transition duration-300 flex items-center justify-center rounded-lg py-2 px-3 text-sm font-medium"
        [routerLink]="(producto.stock ?? 0) > 0 ? ['/comprasincart', producto.id] : null"
        [ngClass]="{ 'opacity-50 pointer-events-none': (producto.stock ?? 0) === 0 }"
      >
        Comprar ahora
      </a>
    </nav>

    <!-- Notificación -->
    <div *ngIf="showNotification" class="mt-3 text-center text-sm text-gray-600">
      {{ mensajeNotificacion }}
    </div>
  </div>
</div>