<div
  class="flex flex-row flex-1 h-full align-middle justify-center gap-2 p-0 w-screen bg-gradient-to-bl from-sky-500 to-indigo-500 font-sans"
>
  <div>
    <h1 class="text-white font-medium text-7xl w-3/5 text-left m-7">
      Compra lo que estas buscando, sin vueltas
    </h1>
    <nav>
      <a class="button" routerLink="dashboard">Ver tienda</a> |
      
    </nav>
  </div>
  <img
    ngSrc="https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg"
    width="300"
    height="300"
    class="rounded-full w-auto h-96 m-7 p-0 border-0"
  />
</div>
