<div
  class="flex flex-col md:flex-row flex-1 h-full items-center justify-center gap-4 p-4 w-screen bg-gradient-to-l from-gaucho-buy-inicio to-gaucho-buy-fin font-sans"
>
  <div class="text-center md:text-left">
    <h1 class="text-blanco-no-puro font-medium text-4xl md:text-5xl lg:text-7xl w-full md:w-3/5 mx-auto md:mx-7">
      Compra lo que estas buscando, sin vueltas
    </h1>
    <button
      class="border-2 border-white bg-white rounded-xl p-2 mt-4 md:ml-7 font-medium hover:border-2 hover:border-white hover:bg-gaucho-buy-fin hover:text-white transition duration-500"
      routerLink="productos"
    >
      Ver tienda
    </button>
  </div>
  <img
    ngSrc="https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg"
    width="400"
    height="260"
    class="rounded-full w-64 h-64 md:w-auto md:h-96 m-4 md:m-7 p-0 border-0"
    alt="people-shopping"
    priority="true"
  />
</div>
