<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<ul role="list" class="divide-y divide-gray-100 p-3">
  @for (producto of productos$ |async; track producto.id) {

  <li class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4">
      <span class="material-symbols-outlined pt-5"> inventory_2 </span>
      <div class="min-w-0 flex-auto">
        <p class="text-sm font-semibold leading-6 text-gray-900">
          {{ producto.descripcion }}
        </p>

        <p class="mt-1 truncate text-xs leading-5 text-gray-500">
          Stock: {{ producto.stock }}
        </p>
      </div>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-row sm:items-center gap-5">
      <div>
        <p class="text-sm leading-6 text-gray-900">
          ${{
            producto.hist_precios?.at(producto.hist_precios!.length - 1)?.valor
          }}
        </p>
      </div>
      <div class="flex gap-2">
        <button (click)="OpenDialog(producto)">
          <span
            class="material-symbols-outlined rounded-md text-gray-200 bg-red-800 p-1"
          >
            delete
          </span>
        </button>
      </div>
    </div>
  </li>

  }@empty {
  <p class="p-2 text-center align-middle">
    No hay productos cargados en el sistema
  </p>
  }
</ul>

<dui-dialog
  [open]="openDialog"
  [closeOnBackground]="false"
  (onClose)="this.openDialog = !this.openDialog"
>
  <dui-dialog-header>
    Está a punto de borrar un producto de la base de datos
  </dui-dialog-header>
  <dui-dialog-body>
    ¿Está seguro que desea borrar {{ productoToDelete?.descripcion }}?
  </dui-dialog-body>
  <dui-dialog-footer>
    <dui-button
      class="mr-2"
      size="md"
      variant="text"
      color="gray"
      [rounded]="false"
      (click)="this.openDialog = !this.openDialog"
      >CANCELAR</dui-button
    >
    <dui-button size="md" color="red" (click)="delete(productoToDelete!)"
      >BORRAR</dui-button
    >
  </dui-dialog-footer>
</dui-dialog>
