<app-header></app-header>

<app-search-bar (searchEvent)="updateSearchTerm($event)"></app-search-bar>

<div class="dashboard-container">
  <a class="hover:bg-sky-200 transition duration-300 rounded-xl p-2"routerLink="/publicaprod">Publicar Producto</a>
  <h1>Nuestros Productos</h1>
  <div class="product-list">
    <!-- Aquí se filtran y muestran los productos -->
    <div *ngFor="let product of filteredProducts()" class="product-card">
      <img [src]="product.imageUrl" alt="{{ product.nombre }}" class="product-image" />
      <div class="product-details">
        <h2>{{ product.nombre }}</h2>
        <p>{{ product.descripcion }}</p>
        <p class="product-price">$ {{ product.precio | number: '1.2-2' }}</p>
      </div>
    </div>
  </div>
</div>

<app-footer class="flex-none h-1/10"></app-footer>
