/* Estilo general para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: #f3f3f3;
  }
  
  tr.compra-row {
    transition: background-color 0.3s;
  }
  
  /* Color de fondo para las filas de la tabla */
  tr.compra-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr.compra-row:nth-child(odd) {
    background-color: #e6f7ff;
  }
  
  tr.compra-row:hover {
    background-color: #d1ecf1;
  }
  
  /* Colores para las celdas específicas */
  .producto {
    background-color: #ffe6e6;  /* Color de fondo para la columna Producto */
    border-radius: 5px;
  }
  
  .cantidad {
    background-color: #e6ffcc;  /* Color de fondo para la columna Cantidad */
    border-radius: 5px;
  }
  
  .fecha {
    background-color: #e6e6ff;  /* Color de fondo para la columna Fecha */
    border-radius: 5px;
  }
  
  .direccion {
    background-color: #ffffcc;  /* Color de fondo para la columna Dirección */
    border-radius: 5px;
  }
  .total{
    background-color: #d58f8f;  /* Color de fondo para la columna Dirección */
    border-radius: 5px;
  }
/* Efecto de hover sobre las celdas */
td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
    